/* Store */

#store {
  height: 40vh;
  padding: 1rem;

  overflow-y: scroll;

  background-color: var(--primary-color);
}

#store h1 {
  text-align: center;
  color: white;
  font-family: Lobster, sans-serif;
}
