.store--item-list li {
  display: grid;
  place-items: center;
  grid-row-gap: 0.5rem;
}

#store button {
  border-radius: 10px;
  border: none;
  padding: 0.4rem 0.6rem;
  background: white;

  color: var(--primary-color);
  font-weight: bold;

  box-shadow: 0 0 0 2px var(--primary-color), 0 0 0 4px white;

  transition: 0.1s;
}

#store button:hover {
  box-shadow: 0 0 0 2px var(--primary-color-lighter), 0 0 0 4px white;
  color: var(--primary-color-lighter);
}

#store button:active {
  box-shadow: 0 0 0 2px var(--primary-color-darker), 0 0 0 4px white;
  color: var(--primary-color-darker);
}

.store--item-icon {
  width: 125px;
  height: 125px;
}
